[Desktop Entry]
Name=Spotlight
Comment=Fetch a new background image from Spotlight
Keywords=background;wallpaper;
Exec=systemctl start --user spotlight.service
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-UsesNotifications=true
