[Unit]
Description=Spotlight
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/spotlight.sh

[Install]
WantedBy=multi-user.target
